# Entornos virtuales
venv/
.venv/
env/
ENV/

# Cache de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Archivos de claves secretas generados
*.key
*.pem

# Archivos de configuracion del sistema/IDE
.vscode/
.idea/
.DS_Store
